@media (min-width: 768px) {
    body {
        padding: 44px;
    }
    body::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: #f5f5f5 solid 24px;
        pointer-events: none;
    }
}